POSTGRES_USER=root
POSTGRES_PASSWORD=change-me

POSTGRES_GAME_DB=bombermann
POSTGRES_GAME_USER=bombermann_user
POSTGRES_GAME_PASSWORD=change-me

POSTGRES_KC_DB=keycloak
POSTGRES_KC_USER=keycloak
POSTGRES_KC_PASSWORD=change-me

KC_BOOTSTRAP_ADMIN_USERNAME=administrator
KC_BOOTSTRAP_ADMIN_PASSWORD=change-me

KC_GAME_ID=bombermann-app
KC_REALM=bombermann
IS_DEV=true

GAME_PORT_INSTANCE_ONE=3000
GAME_PORT_INSTANCE_TWO=3001