POSTGRES_USER=root
POSTGRES_PASSWORD=change-me

POSTGRES_GAME_DB=bombermann
POSTGRES_GAME_USER=bombermann_user
POSTGRES_GAME_PASSWORD=change-me

POSTGRES_KC_DB=keycloak
POSTGRES_KC_USER=keycloak
POSTGRES_KC_PASSWORD=change-me

KC_BOOTSTRAP_ADMIN_USERNAME=administrator
KC_BOOTSTRAP_ADMIN_PASSWORD=change-me

KC_GAME_ID=bombermann-app
KC_REALM=bombermann

#Where the JWTs are stored in the browser (session/local-storage)
IS_DEV=true

#If you change it here, you also have to change it in the nginx.conf
GAME_CONTAINER_PORT=3000

#For the separate calling of the instances
GAME_EXTERN_PORT_ONE=3001
GAME_EXTERN_PORT_TWO=3002